TestExtractor.v12.suo
*.suo
bin/ExtractorUi.vshost.exe
bin/ExtractorUi.vshost.exe.config
bin/ExtractorUi.vshost.exe.manifest
bin/nunit.core.dll
bin/nunit.core.interfaces.dll
bin/nunit.util.dll
TestExtractor/Extractor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestExtractor/ExtractorUi/obj/Debug/App.g.i.cs
TestExtractor/ExtractorUi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestExtractor/ExtractorUi/obj/Debug/ExtractorUi_MarkupCompile.i.cache
TestExtractor/ExtractorUi/obj/Debug/MainWindow.g.i.cs
TestExtractor/ExtractorUi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestExtractor/ExtractorUi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestExtractor/ExtractorUi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestExtractor/Filter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestExtractor/Filter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestExtractor/Filter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
TestExtractor/Structure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs